        div {
            display: block;
        }
        .page-search {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
        }
        .header {
            height: 150px;
        }
        .main {
            text-align: center;
        }
         .menu-bar {
            position: absolute;
            top: 10px;
            right: 30px;
        }
        .image {
            text-align: center;
        }
        h4 {
            position: absolute;
            color: rgb(66, 133, 245);
            font: bold 15px/15px Helvetica, Sans-Serif;
            top: 215px;
            left: 120px;
            width: 100%;
        }
        .field {
            width: 550px;
        	height: 40px;
    	    border-radius: 20px;
            border: 1px solid lightslategray;
            padding-left: 15px;
        }
        .button {
            width: 100px;
            height: 30px;
            border-radius: 5px;
        }
        TABLE {
            width: 600px;
            margin: auto;
        }
           TD, TH {
            padding: 3px;
        }
           TH {
            text-align: left;
            white-space: nowrap;
        }